/*****************************
01. Default CSS
*****************************/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  color: #2c2e3d;
  line-height: 1.4rem;
  font-weight: 400;
  letter-spacing: .05em;
}

.table {
  margin-bottom: 0px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 1.5rem;
  color: #2c2e3d;
  font-weight: 400;
  line-height: 1.6;
}

.border-top {
  border-top: 1px solid #ddd;
  margin-top: 60px;
}

.product-tab--2 .border-top {
  margin-top: 0px;
}

.heading-primary {
  font-size: 6rem;
  line-height: 1;
  display: block;
  color: #2c2e3d;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.black-bg .heading-primary, .black-bg .kainat-slider-text {
  color: #fff;
}

.heading-primary span {
  color: #DB5C00;
}

.kainat-heading-primary {
  font-size: 5rem;
}

.section-title h2 {
  color: #333;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
}

.section-title h2::before {
  background: #333 none repeat scroll 0 0;
  border-radius: 100%;
  bottom: -1px;
  content: "";
  height: 2px;
  left: 14%;
  position: absolute;
  width: 70%;
}

.section-title h2 i {
  background: #333 none repeat scroll 0 0;
  border: medium none;
  border-radius: 100%;
  color: #fff;
  font-size: 11px;
  height: 20px;
  left: 50%;
  line-height: 20px;
  margin-left: -10px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 82%;
  width: 20px;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

@keyframes passing-reverse {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7%);
    opacity: .6;
  }
  to {
    transform: translateX(30%);
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}