/***********************
Mobile Menu
************************/

  .mobile-menu .mean-bar {
    position: relative;
    background-color: transparent;
  }
  
  .mobile-menu .mean-bar:before {
    position: absolute;
    content: "Menu";
    left: 0;
    top: 15px;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal {
    position: absolute;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span {
    position: relative;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span.menu-bar {
    height: 2px;
    width: 18px;
    background-color: #202020;
    display: block;
    margin: 19px 11.5px;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span:before, .mobile-menu .mean-bar .meanmenu-reveal span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span:before {
    top: -4px;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span:after {
    bottom: -8px;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span.menu-close {
    height: 2px;
    width: 18px;
    background-color: transparent;
    display: block;
    margin: 19px 12px;
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .mobile-menu .mean-bar .meanmenu-reveal span.menu-close:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .mobile-menu .mean-bar .mean-nav {
    background-color: #ffffff;
  }
  
  .mobile-menu .mean-bar .mean-nav>ul {
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    border-top: 0px solid transparent;
    overflow-x: hidden;
  }
  
  
  .mobile-menu .mean-bar .mean-nav>ul li {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .mobile-menu .mean-bar .mean-nav>ul li a {
    font-size: 13px;
    display: block;
    color: #444444;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 44px;
    position: relative;
    border-top: 1px solid #eeeeee;
    padding: 0 40px 0 20px;
    width: 100%;
  }
  
  .mobile-menu .mean-bar .mean-nav>ul li ul {
    position: static;
    background-color: rgba(0, 0, 0, 0.03);
    margin: 0;
    padding: 0 !important;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    display: none;
    float: left;
    width: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  .mobile-menu .mean-bar .mean-nav ul li a.mean-expand {
    position: absolute;
    right: -1px;
    top: 0;
    font-size: 20px !important;
    color: #444444;
    line-height: 44px;
    height: 45px;
    width: 40px;
    text-align: center;
    padding: 0 !important;
  }
  
  .mobile-menu .mean-bar .mean-nav ul li a.mean-expand:hover {
    background: rgba(0, 0, 0, 0);
  }
  
  .mobile__menu .mean-bar:before {
    display: none;
  }
  
  .mobile__menu .mean-bar .meanmenu-reveal {
    top: -5.7rem;
  }
  
  
  .mobile__menu .mean-bar .meanmenu-reveal span.menu-bar {
    background-color: #000;
  }
  
  .mobile__menu .mean-bar .meanmenu-reveal span:before, .mobile__menu .mean-bar .meanmenu-reveal span:after {
    background-color: #000;
  }
  
  .mobile__menu .mean-bar .meanmenu-reveal span:before {
    top: -6px;
  }
  
  .mobile__menu .mean-bar .meanmenu-reveal span:after {
    bottom: -6px;
  }
  
  .mobile__menu .mean-bar .mean-nav {
    background-color: transparent;
  }
  
  .mobile__menu .mean-bar .mean-nav>ul {
    border: 1px solid #fff;
  }
  
  .mobile__menu .mean-bar .mean-nav>ul li a {
    color: #000;
    border-top: 1px solid #ddd;
  }
  
  .mobile__menu .mean-bar .mean-nav>ul li ul {
    background-color: rgba(25, 25, 25, 0.03);
  }
  
  .mobile__menu .mean-bar .mean-nav ul li a.mean-expand {
    color: #000;
  }
  .mean-last {
    border-bottom: 1px solid #ddd;
  }