
/**********************
Product Box
***********************/

  .product-box {
    border: 1px solid #ddd;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .kainat-box-image {
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .kainat-box-image img {
    width: 100%;
  }
  .kainat-box-image .primary-image {
    opacity: 1;
    width: 100%;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all 1s ease;
  }
  .product-box--list .kainat-box-image {
    margin-bottom: 0px !important;
  }
  
  .kainat-box-image .secondary_image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 1s ease;
  }
  
  .kainat-box-footer {
    position: relative;
  }
  
  .kainat-box-desc {
    padding-left: 15px;
    position: relative;
    z-index: 9;
  }
  
  .kainat-box-desc h1 {
    font-size: 50px;
    font-weight: 500;
  }
  
  .kainat-box-desc h2 {
    font-weight: normal;
    font-size: 25px;
  }
  
  .kainat-box-title {
    font-size: 1.5rem;
    color: #2c2e3d;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  .product-box .sale-price {
    font-size: 1.6rem;
  }
  
  .product-box .regular-price {
    font-size: 1.2rem;
    color: #a2a2a2;
  }
  
  .product-box .quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
    margin-left: -1.8rem;
    margin-top: -1.8rem;
    font-size: 1.5rem;
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
  }
  
  .product-box .quick-view:hover {
    background: #DB5C00;
  }
  
  .kainat-box-link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    top: -22rem;
    text-align: right;
  }

  .kainat-box-link li a {
    margin-bottom: 8px;
    margin-right: 15px;
  }
  
  .product-box:hover {
    -webkit-box-shadow: 0 0 7.6px 0.4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 7.6px 0.4px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 7.6px 0.4px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 7.6px 0.4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7.6px 0.4px rgba(0, 0, 0, 0.1);
  }
  .product-box:hover .secondary_image {
    opacity: 1;
  }
  .product-box:hover .primary_image {
    opacity: 0;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .kainat-deal-area .quick-view {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .kainat-deal-area .quick-view:hover {
    background-color: #DB5C00;
  }
  
  .kainat-deal-area .kainat-box-title:hover {
    color: #DB5C00;
  }
  
  .product-box--list .kainat-box-desc {
    text-align: left;
    padding-top: 20px;
    padding-right: 20px;
  }
  
  .product-box--list .kainat-box-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .kainat-box-price {
    margin-bottom: 0px;
  }
  
  .product-box--list .kainat-box-price {
    margin-bottom: 1rem;
  }
  
  .product-box--list .add-to-cart {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  .product-box--list .kainat-box-descript {
    color: #2c2e3d;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .kainat-countdown {
    margin: 1.5rem 0;
  }
  
  /**********************
  Product Category
  ***********************/
  
  .product-category {
    text-align: center;
  }
  
  .kainat-product-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1rem 0;
    text-align: center;
    margin: 1rem;
  }
  
  .kainat-category-thumb {
    display: inline-block;
    border: 8px solid #ddd;
    border-radius: 50%;
  }
  
  .kainat-category-thumb img {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    border-radius: 50%;
  }
  
  .kainat-pcat-title {
    text-transform: capitalize;
    color: #2c2e3d;
    font-size: 1.6rem;
    display: block;
    margin-top: 1.5rem;
  }
  
  .product-category .owl-prev {
    margin: 0 5px 0 25px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .product-category .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .product-title {
    color: #2c2e3d;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 2.4rem;
  }
  
  .product-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .product-price .sale-price {
    color: #DB5C00;
    font-size: 2rem;
  }
  
  .product-price .regular-price {
    font-size: 2rem;
    margin-right: 8px;
  }
  
  .discount-badge {
    text-transform: uppercase;
    display: inline-block;
    background: #e75768;
    color: white;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
  }
  
  /**********************
  Product Varients
  ***********************/
  
  .kainat-product-label {
    color: #232323;
  }
  
  .kainat-product-select {
    width: 5.5rem;
    height: 3.8rem;
    padding: 2px 1.5rem 0 4px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #333;
    border: 1px solid #a6a6a6;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .kainat-product-select:focus {
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0);
  }
  
  .kainat-product-color--group li {
    display: inline-block;
  }
  
  .label-modal {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  
  .label-modal:hover {
    border: 2px solid #232323;
  }
  
  .modal-color-input[type="radio"] {
    display: none;
  }
  
  .modal-color-input[type="radio"]:checked+label {
    border: 2px solid #232323;
  }
  
  /**********************
  Product Action
  ***********************/
  
  .product-action-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  
  /**********************
  Quantity
  ***********************/
  
  .quantity {
    position: relative;
    width: 8rem;
    margin-right: 4rem;
    -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  .quantity-input {
    width: 6rem;
    height: 4.6rem;
    padding: 4px 8px;
    color: #333;
    border: 1px solid #a6a6a6;
    border-right: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.6rem;
  }
  
  .quantity .qtybutton {
    position: absolute;
    right: 0;
    width: 2.5rem;
    height: 2.3rem;
    border: 1px solid #a6a6a6;
    text-align: center;
    line-height: 2.3rem;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .quantity .qtybutton:hover, .quantity .qtybutton:focus {
    background-color: #f1f1f1;
  }
  
  .quantity .inc.qtybutton {
    top: 0;
    border-bottom: none;
  }
  
  .quantity .dec.qtybutton {
    bottom: 0;
  }

  .qtybutton i {
    color: #333 !important;
  }
  
  /**********************
  Product Large Thumb
  ***********************/
  
  .product-thumb-large {
    margin-bottom: 1.5rem;
  }
  
  .product-thumb-large .tab-pane {
    text-align: center;
  }
  
  /**********************
  Product Thumbnail
  ***********************/
  
  .product-thumbnail .thumb-menu-item a {
    display: block;
    border: 1px solid #ededed;
  }
  
  .product-thumbnail .thumb-menu-item a.active, .product-thumbnail .thumb-menu-item a:hover {
    border-color: #DB5C00;
  }
  
  .product-thumbnail .owl-prev, .product-thumbnail .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -1rem;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .product-thumbnail .owl-prev {
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    left: 1rem;
  }
  
  .product-thumbnail .owl-next {
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    right: 1rem;
  }
  
  .product-thumbnail :hover .owl-prev, .product-thumbnail :hover .owl-next {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  /**********************
  Featured Product
  ***********************/
  
  .featured-produts .product-box {
    margin-bottom: 30px;
  }
  
  .featured-produts .owl-prev {
    margin: 10px 5px 0 15px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .featured-produts .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .featured-produts {
    background-color: #fff;
    padding-top: 30px;
  }
  
  /**********************
  Trending Product
  ***********************/
  
  .tranding-carousel .owl-prev {
    margin: 12px 5px 12px 15px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  .tranding-carousel .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  /**********************
  Product Countdown
  ***********************/
  
  .product-countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -mox-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  .offer-area .product-countdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -mox-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .product-countdown .single-countdown {
    position: relative;
    margin-right: 1rem;
  }
  
  .product-countdown .single-countdown__time {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background: #444;
    text-align: center;
  }
  
  
  .product-countdown .single-countdown__text {
    display: block;
    color: #606060;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
  }
  
  /**********************
  Related Product
  ***********************/
  
  .related-product-carousel {
    padding: 2rem;
    border: 1px solid #ededed;
    margin-top: 55px;
  }
  
  .related-product .owl-prev {
    margin: 0 5px 0 25px;
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
    margin-left: -2rem;
  }
  
  .related-product .owl-next {
    width: 3rem;
    height: 3rem;
    line-height: 2.8rem;
  }
  
  /* offer area */

  .offer-area {
    background-color: #f6f6f6;
  }
  .offer-area p {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .offer-area h2 {
    font-size: 50px;
  }