/*****************************
Table CSS
*****************************/

.order-table {
  width: 100%;
}

.order-table th, .order-table td {
  font-size: 1.4rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
}

.order-table tr.order-total td {
  font-weight: 700;
  border-bottom: none;
}

.cart-table table td, .cart-table table th {
  vertical-align: middle;
  text-align: center;
  padding: 1.5rem;
}

.cart-table table th {
  text-transform: capitalize;
  white-space: -moz-nowrap;
  white-space: nowrap;
  border-bottom: none;
}

.cart-table table td h3 a {
  color: #2c2e3d;
  font-weight: 500;
}

.cart-table table td i {
  color: #2c2e3d;
}

.cart-table .add-to-cart i {
  color: #fff !important;
}

.cart-table table td img {
  width: 20rem;
  max-width: 20rem;
}

.cart-table table td .quantity {
  margin: 0 auto;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  -ms-box-shadow: 0 0 0;
  -o-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}